[Desktop Entry]
Type=Application
Name=Calculator
Name[de_DE]=Rechner
Name[es_ES]=Calculadora
Name[fr_FR]=Calculatrice
Name[nl_NL]=Rekenmachine
Name[pl_PL]=Kalkulator
Name[sv_SV]=Kalkylator
Name[ru_RU]=калькулятор
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-calculator
Icon=ios-calculator-outline
X-Asteroid-Center-Color=#709801
X-Asteroid-Outer-Color=#233412
